/* global settings */
@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul,ol {
  list-style: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

:root {

  /* font family */
  --kumbhFont: 'Kumbh Sans', sans-serif;

  /* font weight */
  --regular: 400;
  --bold: 700;

  /* font-size */
  --heading: 48.83px;
  --subHeading: 39.06px
  --h3Heading: 31.25px
  --paragraph: 16px;

  /* colors */

    /* primary */
    --orange: hsl(26, 100%, 55%);
    --paleOrange: hsl(25, 100%, 94%);
  
}

/* body */

body {
  height: 100vh;
  width: 100%;
  font-family: var(--kumbhFont);
  margin-bottom: 10%;
}

/* navbar */

nav {
  width: 90%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 0 auto;
  height: 100px;
  border-bottom: 1px solid hsl(220, 14%, 75%);
  position: relative;
}

nav {
  position: relative;
}

nav .hamburger {
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

/* navItems */

nav .navItems {
  margin-left: 30px;
}

nav .navItems .closeIcon {
  display: none;
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

nav .navItems ul li {
  display: inline-block;
  margin-right: 18px;
}

nav .navItems ul li a {
  color:  hsl(219, 9%, 45%);
  font-size: var(--paragraph);
  font-weight: var(--regular);
}

nav .navItems ul li a:hover {
  color:  hsl(220, 13%, 13%);
  padding: 0 0 37px 0;
  border-bottom: 3px solid var(--orange);
}

/* nav users */

nav .user {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* cart */

nav .cartDiv {
  position: relative;
}

nav .cartDiv #cartIcon {
  display: block;
  margin-right: 30px;
  cursor: pointer;
  filter: invert(44%) sepia(9%) saturate(565%) hue-rotate(181deg) brightness(96%) contrast(89%);
}

nav .cartDiv #cartIcon:hover {
  filter: invert(9%) sepia(13%) saturate(737%) hue-rotate(178deg) brightness(95%) contrast(91%);
}

nav .cartDiv.empty::before {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  display: none;
  content: '';

}

nav .cartDiv::before {
  position: absolute;
  top: -5px;
  right: 23px;
  content: attr(data-content);
  width: 15px;
  height: 15px;
  padding: 0 3px;
  color: #fff;
  border-radius: 10px;
  text-align: center;
  z-index: 1;
  font-size: 12px;
  font-weight: bold;
  cursor: default;

  background: var(--orange);
}

/* cart box */

nav .cart-box.hide {
  display: none;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

nav .cart-box {
  position: absolute;
  top: 90px;
  right: 0px;
  width: 300px;
  height: auto;
  background: hsl(0, 0%, 100%);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  padding: 0 0 12px;
  border-radius: 7px;
}

nav .cart-box .heading {
  border-bottom: 1px solid hsl(220, 14%, 75%);
  padding: 15px;
}

nav.cart-box .heading span {
  font-weight: var(--bold);
}

nav .cart-box .products {
  padding: 15px;
}

nav .cart-box .products.empty {
  text-align: center;
}

nav .cart-box .products.empty .emptyCart {
  display: block;
}

nav .cart-box .products .product .description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

nav .cart-box .products .product .description .productImg {
  display: block;
  width: 20%;
  border-radius: 7px;
}

nav .cart-box .products .product .description  .info {
  font-size: 14px;
  font-weight: var(--regular);
  color: hsl(219, 9%, 45%);
  margin: 0 12px;
}

nav .cart-box .products .product .description  .info h3 {
  font-size: 14px;
  font-weight: var(--regular);
}

nav .cart-box .products .product .description  .info span.finalValue{
  font-weight: var(--bold);
  color: hsl(220, 13%, 13%);
}

nav .cart-box .products .product .description  .remove{
  cursor: pointer;
}

nav .cart-box .products .product .description  .remove img{
  display: block;
  width: 100%;
  cursor: pointer;
}

nav .cart-box .products .product .description  .remove img:hover{
  opacity: 0.6;
}

nav .cart-box .checkout{
  padding: 0 15px 15px;
}

nav .cart-box .checkout.hide{
  display: none;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
}

nav .cart-box .checkout button{
  background: var(--orange);
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 7px;
  color: #fff;
  cursor: pointer;
  font-weight: var(--bold);
}

nav .cart-box .checkout button:hover{
  opacity: 0.6;
}


/* user avatar */

nav .user .userImg img {
  display: block;
  width: 50%;
  cursor: pointer;
  border: 2px solid transparent;
}

nav .user .userImg img:hover {
  border: 2px solid var(--orange);
  border-radius: 50%;
}

/* container */

.container {
  max-width: 1080px;
  margin: 60px auto;
}

/* row */

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
  padding: 0 25px;
}

/* col-2 */

.col-2 {
  flex-basis: 40%;
  min-width: 300px;
}

.col-2 #emphasisPicture {
  max-width: 100%;
  border-radius: 7px;
  cursor: pointer;
}

.smallImg {
  margin-top: 5%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

/* col-4 */

.smallImg .col-4 {
  flex-basis: 23%;
}
.smallImg .col-4 img {
  width: 100%;
  border-radius: 7px;
  cursor: pointer;
}

.smallImg .col-4 img:hover {
  opacity: 0.7;
}

.smallImg .col-4 img.active {
  opacity: 0.7;
  border: 3px solid var(--orange);
  cursor: default;
}

/* col-2 product description */

.col-2 .companyName {
  display: block;
  font-size: var(--h3Heading);
  color: var(--orange);
  font-weight: var(--bold);
  letter-spacing: 0.1em;
  margin-top: 80px;
  margin-bottom: 7px;
  text-transform: uppercase;
}

.col-2 h2 {
  font-size: var(--heading);
  font-weight: var(--bold);
  line-height: 58px;
  margin-bottom: 30px;
}

.col-2 p {
  font-size: var(--paragraph);
  color: hsl(219, 9%, 45%);
  font-weight: var(--regular);
  line-height: 25.6px;
}

.col-2 .price {
  display: flex;
  margin: 16px 0 5px;
  align-items: center;
}

.col-2 .price .productValue {
  display: block;
  font-weight: var(--bold);
  font-size: 25px;
  margin-right: 12px;
}

.col-2 .price .percentage {
  display: block;
  padding: 5px;
  background: var(--paleOrange);
  color: var(--orange);
  border-radius: 7px;
}

.col-2 .totalValue {
  display: block;
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
  font-size: 14px;
}

/* buttonsRow */

.col-2 .buttonsRow {
  margin-top: 30px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

/* increment */

.increment {
  padding: 5px;
  background: #f7f8fd;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  border-radius: 7px;
}

.increment input {
  background: #f7f8fd;
  width: 60px;
  font-size: 20px;
  border: none;
  outline: none;
  text-align: center;
}

.increment img {
  cursor: pointer;
}

/* call to action */

.col-2 .buttonsRow .callToAction {
  position: relative;
}

.col-2 .buttonsRow .callToAction button {
  border: none;
  background: var(--orange);
  color: #fff;
  padding: 20px 90px;
  cursor: pointer;
  border-radius: 10px;
  font-weight: var(--bold);
  text-align: center;
}

.col-2 .buttonsRow .callToAction button i {
  margin-right: 7px;
}

.col-2 .buttonsRow .callToAction button:hover {
  opacity: 0.6;
}

/* carousel */

.wrapper.hide {
  opacity: 0;
  visibility: hidden;
  display: none;
  transition: display 200ms ease-in-out;
}

.wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: hsl(0, 0%, 0%, 75%);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: display 200ms ease-in-out;
}

.wrapper .carouselContainer {
  width: 400px;
}

.wrapper .carouselContainer .carouselrow {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 12px;
}

.wrapper .carouselContainer #carouselClose {
  display: block;
  cursor: pointer;
}

.wrapper .carouselContainer #carouselClose:hover {
  filter: invert(52%) sepia(49%) saturate(1265%) hue-rotate(346deg) brightness(102%) contrast(104%);
}

.wrapper .carouselContainer .carousel {
  position: relative;
  height: 400px;
  width: 400px;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide[data-active]{
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.slide[data-active="true"]{
  opacity: 1;
}

 .slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 7px;
}

.carousel-button {
  position: absolute;
  background: #fff;
  padding: 16px;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carousel-button img {
  display: block;
  object-fit: cover;
 
}

.carousel-button:hover img{
  filter: invert(52%) sepia(49%) saturate(1265%) hue-rotate(346deg) brightness(102%) contrast(104%);
}

.carousel-button.prev {
  left: -1rem;
}

.carousel-button.next {
  right: -1rem;
}

.smallpitures {
  margin-top: 3%;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.smallpitures .col-carousel{
  flex-basis: 20%;
}
.smallpitures .col-carousel img{
  width: 100%;
  border-radius: 7px;
  cursor: pointer;
}

.smallpitures .col-carousel img:hover {
  opacity: 0.7;
}

.smallpitures .col-carousel img.active {
  opacity: 0.7;
  border: 3px solid var(--orange);
  cursor: default;
}

.carousel.mobile {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}


@media (max-width: 600px) {

  /* nav */

  nav {
    width: 100%;
    padding: 30px;
    margin: 0;
  }

  nav .hamburger {
    display: block;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    margin-right: 16px;
    cursor: pointer;
  }

  nav .navItems {
    position: fixed;
    left: -200px;
    top: 0;
    width: 200px;
    height: 100vh;
    background: #fff;
    margin-left: 0px;
    padding: 30px;
    visibility: visible;
    opacity: 1;
    display: block;
    pointer-events: all;
    transition: left 0.3s ease-in-out;
    z-index: 100;
  }

  nav .navItems.show {
    left: 0px;
  }

  nav .navItems .closeIcon {
    display: block;
    visibility: visible;
    opacity: 1;
    pointer-events: all;
    cursor: pointer;
    margin-bottom: 30px;
  }
  
  nav .navItems ul li {
    display: block;
    margin-top: 18px;
  }
  
  nav .navItems ul li a {
    color:  hsl(220, 13%, 13%);;
    font-size: var(--paragraph);
    font-weight: var(--regular);
  }
  
  nav .navItems ul li a:hover {
    opacity: 0.6;
    border: none;
    padding: 0;
  }

  nav .cartDiv #cartIcon {
    display: block;
    margin-right: 30px;
    cursor: pointer;
  }

  /* cart box */

  nav .cart-box {
    position: absolute;
    top: 150%;
    left: 10px;
    width: 95%;
    border-radius: 7px;
    z-index: 900;
  }

  nav .cart-box .heading {
    border-bottom: 1px solid hsl(220, 14%, 75%);
    padding: 25px;
  }

  nav .cart-box .heading span {
    font-size: 20px;
  }

  nav .cart-box .products .product .description  .info {
    font-size: 18px;
    font-weight: var(--regular);
    color: hsl(219, 9%, 45%);
    margin: 0 12px;
  }
  
  nav .cart-box .products .product .description  .info h3 {
    font-size: 18px;
    font-weight: var(--regular);
  }

  nav .cart-box .products.empty {
    text-align: center;
  }

  nav .cart-box .products.empty .emptyCart {
    font-size: 20px;
  }

  nav .user {
    margin-left: auto;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 90px;
  }

  /* user avatar */

nav .user .userImg img {
  display: block;
  width: 100%;
  cursor: pointer;
  border: 2px solid transparent;
}

nav .user .userImg img:hover {
  border: 2px solid var(--orange);
  border-radius: 50%;
}
  

/* container */

.container {
  max-width: 100%;
  margin: 0 auto;
}

.row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 5%;
  padding: 0;
  flex-direction: column;
}

.col-2 {
  flex-basis: 100%;
  min-width: 300px;
}

.col-2 #emphasisPicture {
  max-width: 100%;
  border-radius: 0px;
  cursor: default;
  display: none;

}

.smallImg {
  display: none;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

/* col-2 info */

.col-2:nth-child(2) {
  padding: 0 25px;
}

.col-2 .companyName {
  margin-top: 30px;
  margin-bottom: 7px;

}

.col-2 .price {
  display: flex;
  margin: 16px 0 5px;
  align-items: center;
}

.col-2 .price .productValue {
  display: block;
  font-weight: var(--bold);
  font-size: 25px;
  margin-right: 12px;
}

.col-2 .price .percentage {
  display: block;
  padding: 5px;
  background: var(--paleOrange);
  color: var(--orange);
  border-radius: 7px;
}

.col-2 .totalValue {
  display: block;
  text-decoration: line-through;
  color: hsl(220, 14%, 75%);
  font-size: 14px;
}

/* buttonsRow */

.col-2 .buttonsRow {
  flex-direction: column;
  width: 100%;
  margin-bottom: 10%;
}

/* increment */

.increment {
  margin-bottom: 30px;
}

.increment input {
  background: #f7f8fd;
  width: 85%;
  font-size: 26px;
  border: none;
  outline: none;
  text-align: center;
}

.increment img {
  cursor: pointer;
}

/* call to action */

.col-2 .buttonsRow .callToAction {
  position: relative;
  width: 100%;
  text-align: center;
}

.col-2 .buttonsRow .callToAction button {
  padding: 15px;
  width: 95%;
}

.col-2 .buttonsRow .callToAction button i {
  margin-right: 7px;
}

.col-2 .buttonsRow .callToAction button:hover {
  opacity: 0.6;
}

/* carousel */

 .carousel.mobile {
  position: relative;
  height: 500px;
  width: 100%;
  display: block;
  opacity: 1;
  visibility: visible;
  pointer-events: all;
}

.carousel.mobile .slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.carousel.mobile .slide[data-active]{
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel.mobile .slide[data-active="true"]{
  opacity: 1;
}

.carousel.mobile .slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 0px;
}

.carousel.mobile .carousel-button {
  position: absolute;
  background: #fff;
  padding: 16px;
  border: none;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  top: 50%;
  z-index: 2;
  transform: translateY(-50%);
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.carousel.mobile .carousel-button img {
  display: block;
  object-fit: cover;
 
}

.carousel.mobile .carousel-button:hover img{
  filter: invert(52%) sepia(49%) saturate(1265%) hue-rotate(346deg) brightness(102%) contrast(104%);
}

.carousel.mobile .carousel-button.prev {
  left: 1rem;
}

.carousel.mobile .carousel-button.next {
  right: 1rem;
}

}